.smooth-entry {
    animation-name: entry;
    animation-duration: 0.25s;
}

@keyframes entry {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    15% {
        opacity: 0.2;
    }

    25% {
        opacity: 0.25;
    }

    35% {
        opacity: 0.35;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

.range {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }

  .range:focus {
    outline: none;
  }
  
  .range::-webkit-slider-runnable-track {
    background-color: #05050500;
    height: 5rem;
    width: 4rem;
  }
  
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #000000;
    height: 5rem;
    width: 0.1rem;
  }

  .range::-moz-range-track {
    background-color: #05050500;
    height: 0.1rem;
  }
  
  .range::-moz-range-thumb {
    background-color: #000000;
    border: none; 
    border-radius: 0.5rem;
    height: 3rem;
    width: 0.1rem;
  }
  
  .range:focus::-moz-range-thumb{
    border: none;
    outline-offset: 0.125rem;
  }